# Logic, Loops, Lists, Tuples, and Dictionaries

For basic Python module

# 1)- Importing key libraries

In [1]:
#support both Python 2 and Python 3 with minimal overhead.
from __future__ import absolute_import, division, print_function

In [2]:
# I am an engineer. I care only about error not warning. So, let's be maverick and ignore warnings.
import warnings
warnings.filterwarnings('ignore')

In [3]:
# What's life without style :). So, let's add style to our dataframes
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [4]:
import pandas as pd
import numpy as np
import sys
from sys import argv

In [5]:
# first install: pip install version_information
%reload_ext version_information
%version_information math, numpy, sys, platform

Software versions
Python 3.6.3 64bit [MSC v.1900 64 bit (AMD64)]
IPython 7.4.0
OS Windows 10 10.0.16299 SP0
math The 'math' distribution was not found and is required by the application
numpy 1.16.2
sys The 'sys' distribution was not found and is required by the application
platform 1.0.8
Sat Aug 17 10:56:04 2019 W. Europe Daylight Time

# 2)-Logic

In [6]:
2 == 1 + 1

True

In [7]:
'ab' == 'a' + 'b'

True

In [8]:
(2 == 1 + 1) and ('ab' == 'a' + 'b')

True

In [9]:
5 is 5.0

False

In [10]:
a = 5
b = 5
a is b

True

In [11]:
'aa' != 'bb'

True

# 3)-Ranges and Increments

In [12]:
range(5)

range(0, 5)

In [13]:
list(range(5))

[0, 1, 2, 3, 4]

In [14]:
range(1, 6)

range(1, 6)

In [15]:
list(range(1, 6))

[1, 2, 3, 4, 5]

### increment operator

In [16]:
i = 1
i = i + 1
i

2

In [17]:
i = 1
i += 1
i

2

In [18]:
j = 2
j = j * 3
j

6

In [19]:
j = 2
j *= 3
j

6

# 4)-Loops

### if

In [20]:
if 1 < 2:
    print("The 'if' statement is true.")

The 'if' statement is true.

In [21]:
if 3 < 2:
    print("The 'if' statement is true.")
else:
    print("The 'if' statement is false.")

The 'if' statement is false.

### for

In [22]:
for i in range(5): # same as: for i in [0, 1, 2, 3, 4]
    print('i is %s' % i)

i is 0
i is 1
i is 2
i is 3
i is 4

In [23]:
for i in range(5):
    print(i) # just to monitor where we are
    if i in [1, 2]:
        print("It's 1 or 2.")
    elif i in [3, 4]:
        print("It's 3 or 4.")
    else:
        print("It must be 0.")
        #break # comment this line to get the full output

0
It must be 0.
1
It's 1 or 2.
2
It's 1 or 2.
3
It's 3 or 4.
4
It's 3 or 4.

### while

In [24]:
j = 0
while j <= 5:
    print(j)
    j += 1 # same as: j = j + 1
    #if j == 4:
        #break
else:
    print('All done.')

0
1
2
3
4
5
All done.

In [25]:
j

6

# 5)-Lists

In [26]:
# a simple list of strings
L = ['alpha', 'bravo', 'charlie']
L

['alpha', 'bravo', 'charlie']

In [27]:
len(L)

3

In [28]:
# indexing by position
L[0]

'alpha'

In [29]:
# slicing a list returns a new list
L[:-1]

['alpha', 'bravo']

In [30]:
# concatenation makes a new list too
L + ['delta', 'echo', 'foxtrot']

['alpha', 'bravo', 'charlie', 'delta', 'echo', 'foxtrot']

In [31]:
['delta', 'echo', 'foxtrot'] + L

['delta', 'echo', 'foxtrot', 'alpha', 'bravo', 'charlie']

In [32]:
# the original list is unchanged
L

['alpha', 'bravo', 'charlie']

In [33]:
# add object at end of list with append
L.append('end') 
L

['alpha', 'bravo', 'charlie', 'end']

In [34]:
# delete an item in middle of list with pop
L.pop(2)

'charlie'

In [35]:
# now L is changed
L

['alpha', 'bravo', 'end']

In [36]:
# insert a new item with insert
L.insert(2, 'middle')

In [37]:
L

['alpha', 'bravo', 'middle', 'end']

In [38]:
# replace an existing item with positional assignment
L[2] = 'xxx'

In [39]:
L

['alpha', 'bravo', 'xxx', 'end']

In [40]:
N = ['bb', 'aa', 'cc']

In [41]:
N

['bb', 'aa', 'cc']

In [42]:
N.sort()

In [43]:
N

['aa', 'bb', 'cc']

In [44]:
N.reverse()

In [45]:
N

['cc', 'bb', 'aa']

In [46]:
'bb' in N

True

### Nested lists

In [47]:
M = [[1, 2, 3],
     [4, 5, 6],
     [7, 8, 9]]

In [48]:
M

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [49]:
M[1]

[4, 5, 6]

In [50]:
M[1][2]

6

### List slicing

In [51]:
x = list(range(10))
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [52]:
x[0:5]

[0, 1, 2, 3, 4]

In [53]:
x[:5]

[0, 1, 2, 3, 4]

In [54]:
x[-5:]

[5, 6, 7, 8, 9]

In [55]:
x[2:5]

[2, 3, 4]

### List comprehension

In [56]:
# example without list comprehension
squares = []
for x in [1, 2, 3, 4, 5]:
    squares.append(x ** 2)

In [57]:
squares

[1, 4, 9, 16, 25]

In [58]:
# example with list comprehension
squares = [x ** 2 for x in [1, 2, 3, 4, 5]]

In [59]:
squares

[1, 4, 9, 16, 25]

**Example with string instead of list**

In [60]:
doubles = [c * 2 for c in 'spam']
doubles

['ss', 'pp', 'aa', 'mm']

In [61]:
M

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [62]:
# collect the items in column 2
col2 = [row[1] for row in M]

In [63]:
col2

[2, 5, 8]

In [64]:
# add 1 to each item in column 2
col2a = [row[1] + 1 for row in M]

In [65]:
col2a

[3, 6, 9]

In [66]:
# filter out odd items
col2b = [row[1] for row in M if row[1] % 2 == 0]

In [67]:
col2b

[2, 8]

In [68]:
# Collect a diagonal from matrix
diag = [M[i][i] for i in [0, 1, 2]]
diag

[1, 5, 9]

# 6)-Tuples

- Tuples are immutable, meaning they cannot be changed in place or appended to.
- Tuples can be composed of mixed types of objects, whereas lists should contain a single kind of object.

In [69]:
T = (1, 2, 3, 4)
T

(1, 2, 3, 4)

In [70]:
T[0]

1

In [71]:
len(T)

4

In [72]:
T = T + (5, 6)
T

(1, 2, 3, 4, 5, 6)

In [73]:
T[0] = 2

TypeError: 'tuple' object does not support item assignment

In [74]:
# here is a list of the same object type
["Bob", "Joe", "John", "Sam"]

['Bob', 'Joe', 'John', 'Sam']

In [75]:
# here is a list of different object types -- DON'T DO THIS
["Billy", "Bob", "Joe", 42]

['Billy', 'Bob', 'Joe', 42]

In [76]:
# use a tuple instead
[("Billy", "Bob", "Joe", 42), ("Robert", "", "Smith", 31)]

[('Billy', 'Bob', 'Joe', 42), ('Robert', '', 'Smith', 31)]

# 7)-Dictionaries

In [77]:
# keys and values
D = {'food': 'Spam', 'quantity': 4, 'color': 'pink'}

In [78]:
D

{'food': 'Spam', 'quantity': 4, 'color': 'pink'}

In [79]:
# fetch value of key 'food'
D['food']

'Spam'

In [80]:
D['quantity']

4

In [81]:
# add 1 to 'quantity' value
D['quantity'] += 1

In [82]:
D

{'food': 'Spam', 'quantity': 5, 'color': 'pink'}

In [83]:
D = {} # empty dict: {}, empty string: '', empty list: [], empty tuple: ()

In [84]:
# create keys by assignment
D['name'] = 'Bob'
D['job'] = 'dev'
D['age'] = 40

In [85]:
D

{'name': 'Bob', 'job': 'dev', 'age': 40}

In [86]:
D['name']

'Bob'

In [87]:
# nested dictionaries
rec = {'name': {'first': 'Bob', 'last': 'Smith'}, 
       'job': ['developer', 'manager'],
       'age': 40.5}

In [88]:
rec

{'name': {'first': 'Bob', 'last': 'Smith'},
 'job': ['developer', 'manager'],
 'age': 40.5}

In [89]:
# 'name' is a nested dictionary
rec['name']

{'first': 'Bob', 'last': 'Smith'}

In [90]:
# index the nested dictionary
rec['name']['last']

'Smith'

In [91]:
# 'job' is a nested list
rec['job']

['developer', 'manager']

In [92]:
# index the nested list
rec['job'][-1]

'manager'

In [93]:
# expand the job description in place
rec['job'].append('janitor')

In [94]:
rec

{'name': {'first': 'Bob', 'last': 'Smith'},
 'job': ['developer', 'manager', 'janitor'],
 'age': 40.5}

In [95]:
# sorting keys with for loops
D = {}
D['d'] = 4
D['e'] = 5
D['a'] = 1
D['b'] = 2
D['c'] = 3

In [96]:
D

{'d': 4, 'e': 5, 'a': 1, 'b': 2, 'c': 3}

In [97]:
# iterate over dict keys (note the keys are not guaranteed to be in insertion order)
for key in D:
    print(key,D[key])

d 4
e 5
a 1
b 2
c 3

In [98]:
# iterate over dict key-value pairs and check for a value
for key, value in D.items():
    print(key,value)
    if (value == 5):
        print('Value 5 has Key %s.' % key)

d 4
e 5
Value 5 has Key e.
a 1
b 2
c 3

In [99]:
# iterate over sorted dict keys (sorted alphabetically)
for key in sorted(D):
    print(key,D[key])

a 1
b 2
c 3
d 4
e 5

### zip

In [100]:
# combine two lists (or tuples) into dictionary using dict(zip(list1, list2))
keys = ['name', 'job', 'zip_code', 'city']
values = ['Jon', 'student', '92037', 'La Jolla']
d = dict(zip(keys, values))
d

{'name': 'Jon', 'job': 'student', 'zip_code': '92037', 'city': 'La Jolla'}

In [101]:
# dict of dicts with zip
import random

ids = [random.randint(0,999999) for x in range(5)]

student1 = {'name': 'Adriana', 'year': 'G1', 'major': 'Marine Biology'}
student2 = {'name': 'Bernice', 'year': 'G2', 'major': 'Oceanography'}
student3 = {'name': 'Chelsea', 'year': 'G1', 'major': 'Climate Science'}
student4 = {'name': 'Dorothy', 'year': 'G3', 'major': 'Physics'}
student5 = {'name': 'Eleanor', 'year': 'G1', 'major': 'Business'}

directory = dict(zip(ids, [student1, student2, student3, student4, student5]))

In [102]:
directory

{433382: {'name': 'Adriana', 'year': 'G1', 'major': 'Marine Biology'},
 498537: {'name': 'Bernice', 'year': 'G2', 'major': 'Oceanography'},
 214242: {'name': 'Chelsea', 'year': 'G1', 'major': 'Climate Science'},
 162453: {'name': 'Dorothy', 'year': 'G3', 'major': 'Physics'},
 900119: {'name': 'Eleanor', 'year': 'G1', 'major': 'Business'}}

In [103]:
# check if key is in dict
student_list = ids + [random.randint(0,999999) for x in range(2)]
for student in student_list:
    if student in directory:
        print(student, directory[student]['name'])
    else:
        print('%s is not in the directory' % student)

433382 Adriana
498537 Bernice
214242 Chelsea
162453 Dorothy
900119 Eleanor
532389 is not in the directory
80627 is not in the directory

# 8)-Other Types

### Sets

In [104]:
X = set('spammm')
Y = set(['h', 'a', 'm'])

In [105]:
X

{'a', 'm', 'p', 's'}

In [106]:
Y

{'a', 'h', 'm'}

In [107]:
intersection = X & Y

In [108]:
intersection

{'a', 'm'}

In [109]:
union = X | Y

In [110]:
union

{'a', 'h', 'm', 'p', 's'}

In [111]:
difference = X - Y

In [112]:
difference

{'p', 's'}

### Booleans

In [113]:
1 > 2, 1 < 2

(False, True)

In [114]:
bool(0), bool(1)

(False, True)

In [115]:
bool('spam')

True

In [116]:
True or False

True

In [117]:
False + 1

1

In [118]:
True + 1

2

In [119]:
False == 0

True

In [120]:
False is 0

False

In [121]:
type(1 > 2)

bool

### None

In [122]:
X = None

In [123]:
X

In [124]:
type(None)

NoneType

### The type() function

In [125]:
type(1)

int

In [126]:
type(1.0)

float

In [127]:
type('1')

str

In [128]:
type([1, 2])

list

In [129]:
type((1, 2))

tuple

In [130]:
type({'a': 1})

dict

In [131]:
type({1, 2})

set

In [132]:
type(True)

bool

In [133]:
type(None)

NoneType